body {
	background-color: var(--col-light);
}

main.component {
	background-color: var(--col-white);
}

h1.title {
	color: var(--col-dark);
}

h2.heading {
	color: var(--col-dark);
}

input,
button {
	font-size: 24px;
}

input {
	background-color: var(--col-very-light);
}

button {
	text-align: center;
}

button.default {
	background-color: var(--col-very-dark);
	color: var(--col-white);
}

button.custom {
	background-color: var(--col-very-light);
	color: var(--col-dark);
}

button.reset,
button.active {
	background-color: var(--col-primary);
	color: var(--col-very-dark);
}

footer {
	width: 100%;

	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;

	padding: 10px;
}