:root {
	font-family: 'Space Mono', monospace;
	line-height: 1.5;
	font-weight: 700;

	--col-primary: #26c0ab;
	--col-very-dark: #00494d;
	--col-dark: #5e7a7d;
	--col-med: #7f9c9f;
	--col-light: #c5e4e7;
	--col-very-light: #f4fafa;
	--col-white: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html,
body,
#root,
main,
section,
div,
h1,
h2,
h3,
h4,
p,
input,
button,
img {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}